@import "~sass-rem";
:root {
  --blue: #1f58ff;  
  --gray: #7d7d7d;
}
  .formItem {
    width: 100%;
    margin: rem(24px 0);
    position: relative;
    flex-shrink: 0;
  }
  
  .formItemBar {
    width: 100%;
    height: rem(2px);
    background: var(--gray);
    transition: 0.1s all;
  }
  
  .label {
    color: var(--gray);
    position: absolute;
    top: rem(3px);
    left: 0;
    transition: 0.2s ease-out all;
    font-size: rem(16px);
  }
  
  .input,
  .textarea {
    color: var(--gray);
    font-size: rem(16px);
    border: none;
    line-height: rem(22px);
    width: 100%;
    background: none;
  }
  
  .textarea {
    resize: none;
    min-height: rem(150px);
  }
  
  .input:focus,
  .textarea:focus {
    outline: none;
  }
  
  .input:focus + .label,
  .textarea:focus + .label {
    top: rem(-22px);
    font-size: rem(13px);
  }
  
  .input:not(:placeholder-shown) + .label,
  .textarea:not(:placeholder-shown) + .label {
    top: rem(-22px);
    font-size: rem(13px);
  }
  
  .input:focus ~ .formItemBar,
  .textarea:focus ~ .formItemBar {
    background: var(--blue);
  }