@import "~sass-rem";

body { 
    overflow-x: hidden;
}

:root {
  --blue: #1f58ff;  
  --white: #ffffff;
  --gray: #7d7d7d;
  --dark-gray: #818181;
}

@keyframes fadeIn{from{opacity:0}to{opacity:1}};

@keyframes appear {
    0% {
        opacity: 0;
        top: rem(35px);
        transform: scale(1);
    }
    50% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        top: 0;

    }
}
