@import '../../assets/scss/base.scss';

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    h2 { color: var(--blue);}
    .form {
      width: 100%;
      max-width: rem(350px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      div {
        &:nth-child(2) {
          label {
            animation: fadeIn 500ms ease-in-out 600ms both;
          }
        }
        &:nth-child(3) {
          label {
            animation: fadeIn 500ms ease-in-out 800ms both;
          }
        }
        &:nth-child(4) {
          label {
            animation: fadeIn 500ms ease-in-out 1000ms both;
          }
        }
        &:nth-child(5) {
          label {
            animation: fadeIn 500ms ease-in-out 1200ms both;
          }
        }
      }
  
      }

      button {
        margin-top: 50px;
        animation: fadeIn 500ms ease-in-out 1600ms both;

      } 
      .radioWrapper {
        display: inline-flex;
        animation: fadeIn 500ms ease-in-out 400ms both;
    }
  }
  
  