
:root {

    --blue: #1f58ff;  
  }
  
.listItem__wrapper {

    display: flex;
    align-items: center;
    padding: 50px 30px;
    margin: 0;
}

.listItem__image {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 30px;
}

.listItem__name {

    color: var(--blue);
    margin: 0;
    font-weight: 700;
}

.listItem__description {

    font-weight: 300;
}
.listItem__button {

    padding: 7px 12px;
    background: none;
    font-size: 10px;
    text-decoration: none;
    font-weight: 500;
    color: var(--blue);
    border: 2px solid var(--blue);
}