@import "~sass-rem";
:root {
  --blue: #1f58ff;  
  --gray: #7d7d7d;
}

@keyframes fadeIn{from{opacity:0}to{opacity:1}};

.title { 
    color: var(--blue);
    margin: 0;
    font-weight: 700;
    animation: fadeIn 500ms ease-in-out 200ms both;

}