@import "~sass-rem";
:root {
  --blue: #1f58ff;  
  --dark-gray: #818181;
}
.wrapper {
    display: inline-flex;

    .navItem {
        list-style: none;
        transition: all .5s;

        &Link {
            text-decoration: none;
            color: var(--dark-gray);
            margin-right: 50px;
    
            &Active {
                font-weight: 700;
            }
            &:Hover {
                color: var(--blue);
                transition: all .5s;
            }
                
        }
    }
}