@import '../../assets/scss/base.scss';

.wrapper {
    display: inline-flex;

    .navItem {
        list-style: none;
        transition: all .5s;

        &Link {
            text-decoration: none;
            color: var(--dark-gray);
            margin-right: rem(50px);
    
            &Active {
                font-weight: 700;
            }
            &:Hover {
                color: var(--blue);
                transition: all .5s;
            }
                
        }
    }
}